@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f7fa;
}

/* containers */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 901px;
  margin: 0 auto;
}

.content-bg {
  background: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
}

.l-section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}

.r-section-title {
  display: inline-block;
  padding: 3px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: #545454;
  border-radius: 5px;
  width: 210px;
}

.r-section-head {
  margin-bottom: 15px;
}

.r-section-head::after {
  content: "";
  background: #545454;
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  left: -4px;
  top: -2px;
  width: 255px;
}

/* header */
.nav {
  display: flex;
  background-color: rgba(3, 56, 244, 0.71);
  font-size: 18px;
  padding: 5px 14px 0px 14px;
}

.nav__container {
  flex: 1 1 auto;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav__link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 0 20px;
  line-height: 50px;
  transition: 0.5s;
}

.nav__link:hover {
  color: #545454;
}

/* main */
.content {
  flex: 1 1 auto;
}

.content__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 14px 10px 14px;
  background: linear-gradient(
    180deg,
    rgba(3, 56, 244, 0.71) 0%,
    rgba(224, 37, 206, 0.79) 93.75%
  );
}

.resume-left {
  flex: 0 1 371px;
}

.resume-left__body {
  max-width: 335px;
  margin: 0 auto;
}

.resume-left__column {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 20px 0px;
}

/* profile */
.profile {
  margin-bottom: 20px;
}

.profile__container {
  display: flex;
  flex-direction: row;
}

.profile__image {
  flex: 0 0 120px;
}

.profile__image img {
  max-width: 100%;
  border-radius: 93px;
}

.profile__body {
  flex: 1 1 auto;
  padding-left: 30px;
}

.profile__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #cecaca;
}

.profile__title span {
  display: block;
  margin: 5px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #ffffff;
}

.profile__profession {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #cecaca;
}

/* contacts */
.contacts {
  margin-bottom: 20px;
}

.contacts__title {
  text-align: center;
  margin-bottom: 5px;
}

.contacts__item {
  margin-bottom: 6px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.contacts__item:hover {
  border-left: 10px solid #ffffff;
}

.contacts__item:last-child {
  margin-bottom: 0px;
}

.contacts__text {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.contacts__icon {
  position: relative;
  top: 3px;
  margin-right: 15px;
  color: #ffffff;
}

/* skills */
.skills {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.skills__title {
  margin-bottom: 10px;
}

.skills__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.skills__item:last-child {
  margin-bottom: 0;
}

.skills__text {
  font-size: 16px;
  line-height: 20px;
  color: #fafafa;
  flex: 1;
}

.skills__dot {
  margin-left: 5px;
  height: 10px;
  width: 10px;
  background-color: #cecaca;
  border-radius: 50%;
  display: inline-block;
}

.skills__rounds-box {
  flex: 2;
}

.checked {
  background-color: rgba(84, 84, 84, 0.6);
}

.skills:hover,
.languages:hover {
  box-shadow: 0 0 5px #ffffff;
}

/* languages */
.languages {
  padding: 10px 5px;
}

.languages__title {
  margin-left: 15px;
  margin-bottom: 10px;
}

.languages__item {
  margin-bottom: 10px;
}

.languages__item:last-child {
  margin-bottom: 0;
}

.languages__item {
  margin-bottom: 5px;
  position: relative;
  padding-left: 15px;
}

.languages__list li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 0;
  background: #ffffff;
}

.languages__text {
  font-size: 16px;
  line-height: 20px;
  color: #fafafa;
}

/* right columns */
.resume-right {
  flex: 0 1 496px;
  background: #fff;
  border-radius: 10px;
  margin-left: 6px;
}

.resume-right__body {
  max-width: 469px;
  margin: 0 auto;
}

.resume-right__column {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 30px 0px;
}

/* summary */
.summary {
  margin-bottom: 15px;
}

.summary__text {
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
}
